<% layout('layouts/boiletplate')%>

<h1 class="mb-3" style="text-align: center">All Gyms</h1>
<div id="map" class="mb-3" style="width: 100%; height: 500px"></div>

<% for(let gym of gyms.reverse()){ %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if (gym.images.length){ %>
            <img
                src="<%= gym.images[Math.floor(Math.random()*gym.images.length)].url %>"
                class="card-img-top"
                style="height: 300px; object-fit: cover"
            />
            <% } else{ %>
            <img src="images/nopreview.png" class="card-img-top" style="height: 300px; object-fit: cover" />
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= gym.title %></h5>
                <p class="card-text"><%= gym.description %></p>
                <p class="card-text"><small class="text-muted"><%= gym.location %></small></p>
                <a href="<%= `/gyms/${gym._id}` %>" class="btn btn-primary">View Gym</a>
            </div>
        </div>
    </div>
</div>

<% } %>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const gyms = {features: <%- JSON.stringify(gyms) %>}
</script>
<script src="js/clusterMap.js"></script>
